{
	"presets": [["es2015", {"modules": false }], "stage-0", "react"],
	"plugins": [
		"react-hot-loader/babel",
		"typecheck",
		"transform-class-properties",
		"transform-flow-strip-types",
		"transform-runtime"
	],
	"env": {
    "test": {
			"plugins": [
        "istanbul"
      ],
      "presets": ["es2015", "react", "stage-0"]
    }
  }
}
