{
	"presets": ["env", "stage-0", "react", "flow"],
	"retainLines": true,
	"plugins": [
		"react-hot-loader/babel",
		"typecheck",
		"transform-class-properties",
		"transform-flow-strip-types",
		"transform-runtime"
	],
	"env": {
    "test": {
			"plugins": [
        "istanbul"
      ]
    }
  }
}
