.control-block {
    text-align: center;
    margin-top: 10px;

    #range {
        margin: 10px 0 20px 0;
        padding: 10px 0;
    }

    button {
        margin: 5px 5px;
        border: 2px solid #447bff;
        background: transparent;
        box-shadow: none;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        color: #447bff;
        padding: 8px 16px;
        cursor: pointer;
        outline: none;
    }
}

.control {
    composes: poppins-font from "../../shared.css";
    margin: 5px 5px;
    border: 2px solid #447bff;
    background: transparent;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #447bff;
    padding: 8px 16px;
    cursor: pointer;
    outline: none;
}