@import "../shared.css";

body {
    overflow-x: hidden;
}

:local .heart {
    width: 25px;
    vertical-align: sub;
}

:local .main-header {
    composes: poppins-font from global;
    font-size: 36px;
    margin: 0;
}

:local .sub-header {
    composes: poppins-font from global;
    font-size: 16px;
    color: #3092e6;
    margin: 0;
}

:local .footer-text {
    composes: poppins-font from global;
    font-size: 18px;
    margin: 20px 0;

    a {
        cursor: pointer;
        color: #447bff;
    }
}

:local .root-container {
    margin: 0 auto;
    width: 1200px;
    max-width: 1200px;

    :local .container {
        width: 1000px;
        margin: 0 auto;
    }

    header {
        padding: 20px 0 0 0;   
    
        :local .project-title {
            margin: 0 auto;
            width: 650px;
            text-align: center;
        }
    }

    footer {
        position: relative;
    }
}

:global(#forkongithub) {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 200px;
    overflow: hidden;
    height: 200px;
    z-index: 9999;

    a {
        background: #cc5739;
        color: #fff;
        text-decoration: none;
        font-family: arial, sans-serif;
        text-align: center;
        font-weight: bold;
        padding: 5px 40px;
        font-size: 1rem;
        line-height: 2rem;
        position: absolute;
        transition: 0.5s;
        width: 200px;
        top: 60px;
        right: -60px;
        transform: rotate(45deg);

        &:hover {
            background: #7d0505;
        }

        &::before,
        &::after {
            content: "";
            width: 100%;
            display: block;
            position: absolute;
            top: 1px;
            left: 0;
            height: 1px;
            background: #fff;
        }

        &::after {
            bottom: 1px;
            top: auto;
        }
    }
}
