@import url('https://fonts.googleapis.com/css?family=Poppins');

body {

    .loader {
        position: relative;
        margin: 0 auto;
        background-size: 100px 100px;
        background-repeat: no-repeat;
        background-image: url(https://loading.io/spinners/coolors/lg.palette-rotating-ring-loader.gif);
        background-position: center center;
        z-index: 9999999;
        width: 100px;
        min-height: 230px;
    }

    .chart-block {
        margin-bottom: 50px;
    }

    .heart {
        width: 25px;
        vertical-align: sub;
    }

	overflow-x: hidden;

    .container {
        width: 1000px;
        margin: 0 auto;
    }

    .text-center {
        text-align: center;
    }

    h2 {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        color: #447bff;
    }

    .total-info {
        font-style: italic;
        margin: 10px 35px 30px;
    }

    header {
        padding: 20px 0 0 0;   

        .project-title {
            position: relative;
            top: -20px;
            display: inline-block;
            width: 650px;

            h2 {
                font-family: 'Poppins', sans-serif;
                color: #447bff;
                font-size: 36px;
                margin: 0;
            }

            h4 {
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
                color: #3092e6;
                margin: 0;
            }
        }
    }

    footer {
        position: relative;

        div {
            text-align: center;
            font-family: 'Poppins', sans-serif;
            color: #447bff;
            font-size: 18px;
            margin: 20px 0;

            a {
                cursor: pointer;
                color: #447bff;
            }
        }
    }
}

#forkongithub {
    a {
        background: #cc5739;
        color: #fff;
        text-decoration: none;
        font-family: arial, sans-serif;
        text-align: center;
        font-weight: bold;
        padding: 5px 40px;
        font-size: 1rem;
        line-height: 2rem;
        position: relative;
        transition: 0.5s;

        &:hover {
            background: #7d0505;
        }

        &::before,
        &::after {
            content: "";
            width: 100%;
            display: block;
            position: absolute;
            top: 1px;
            left: 0;
            height: 1px;
            background: #fff;
        }

        &::after {
            bottom: 1px;
            top: auto;
        }
    }
}

@media screen and (min-width: 800px) {
    #forkongithub {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
        height: 200px;
        z-index: 9999;

        a {
            width: 200px;
            position: absolute;
            top: 60px;
            right: -60px;
            transform: rotate(45deg);
        }
    }
}
