body {
	background: #e2dfdf;
	background-image: radial-gradient(rgba(226, 186, 203, 0.44) 30%, transparent 0), radial-gradient(rgba(180, 176, 241, 0.38) 30%, transparent 0);
	background-size: 30px 30px;
	background-position: 0 0, 15px 15px;
}

#github-ribbon {
	position: absolute;
	top: 0px;
	right: 0px;
}

#range {
	margin: 10px 0 20px 0;
    padding: 10px 0;
}

.container {
	width: 1000px;
	margin: 0 auto;

	> div {
		margin-bottom: 30px;
	}
}

.text-center {
	text-align: center;
}

.button {
	margin: 20px 10px;
	border: none;
	box-shadow: none;
	background-color: #448AFF;
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	padding: 10px 20px;
	cursor: pointer;
	outline: none;
}

.button:hover {
	background: #0e4db7;
}

header.container {
	font-family: 'Shrikhand', cursive;
	color: #c88dff;
	font-size: 24px;
}