@import "../../shared.css";

.loader {
    position: relative;
    margin: 0 auto;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-image: url(https://loading.io/spinners/coolors/lg.palette-rotating-ring-loader.gif);
    background-position: center center;
    z-index: 9999999;
    width: 100px;
    min-height: 230px;
}

:local .main-header {
    composes: poppins-font from global;
}

.chart-block {
    margin-bottom: 50px;
}

:local .total-info {
    composes: poppins-font from global;
    margin: 10px 35px 30px;
}