@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
	background: rgba(241, 233, 233, 0.14);
    background-image: radial-gradient(rgba(224, 206, 214, 0.28) 30%, transparent 0), radial-gradient(rgba(137, 130, 255, 0.11) 30%, transparent 0);
	background-size: 30px 30px;
	background-position: 0 0, 15px 15px;
	overflow-x: hidden;

    .container {
        width: 1000px;
        margin: 0 auto;
    }

    .text-center {
        text-align: center;
    }

    header {
        height: 120px;
        padding: 20px 0 0 0;

        .project-logo {
            display: inline-block;
            width: 120px;

            img {
                width: 90px;
            }
        }   

        .project-title {
            position: relative;
            top: -20px;
            display: inline-block;
            width: 650px;

            h2 {
                font-family: 'Shrikhand', cursive;
                color: #c88dff;
                font-size: 36px;
                margin: 0;
            }

            h4 {
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
                color: #3092e6;
                margin: 0;
            }
        }
    }   

    main {
        height: 520px;

        .gh {
            margin: 30px 0;
        }

        .control-block {
            text-align: center;
            margin-top: 10px;
        
            #range {
                margin: 10px 0 20px 0;
                padding: 10px 0;
            }
        }

        .button {
            margin: 5px 10px;
            border: none;
            box-shadow: none;
            text-transform: uppercase;
            font-size: 16px;
            color: #fff;
            padding: 10px 20px;
            cursor: pointer;
            outline: none;

            &:hover {
                opacity: 1 !important;
            }
        }
    }

    footer {
        position: relative;

        div {
            text-align: center;
            font-family: 'Shrikhand', cursive;
            color: rgba(216, 30, 164, 0.47);
            font-size: 18px;
            margin: 20px 0;

            a {
                cursor: pointer;
                color: rgba(22, 74, 144, 0.6);
            }
        }
    }
}

#forkongithub {
    a {
        background: #ae88ea;
        color: #fff;
        text-decoration: none;
        font-family: arial, sans-serif;
        text-align: center;
        font-weight: bold;
        padding: 5px 40px;
        font-size: 1rem;
        line-height: 2rem;
        position: relative;
        transition: 0.5s;

        &:hover {
            background: #e82086;
            color: #fff;
        }

        &::before,
        &::after {
            content: "";
            width: 100%;
            display: block;
            position: absolute;
            top: 1px;
            left: 0;
            height: 1px;
            background: #fff;
        }

        &::after {
            bottom: 1px;
            top: auto;
        }
    }
}

@media screen and (min-width: 800px) {
    #forkongithub {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
        height: 200px;
        z-index: 9999;

        a {
            width: 200px;
            position: absolute;
            top: 60px;
            right: -60px;
            transform: rotate(45deg);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
        }
    }
}
