@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import './mixins.css';

$axis-color: #9e9e9e;
$box-width: 20px;
$font: 'PT Sans Narrow', sans-serif;
$main-color: rgba(172, 148, 179, 0.49);

.ruler-container {
  position: relative;
  display: block;
  user-select: none;

  .y-axis-wrapper {
    display: inline-block;
    position: relative;
    bottom: 29px;

    .y-axis {
      display: inline-block;
      padding: 0 10px;
      color: $axis-color;
      font-family: $font;
      border-right: 1px solid $main-color;

      .y-caption {
        height: $box-width;
        float: right;
        clear: both;
      }
    }
  }

  .marks-wrapper {
    overflow: hidden;
    display: inline-block;
    width: 950px;
    max-width: 90vw;
    height: 230px;

    .x-axis {
      font-family: $font;
      color: $axis-color;
      max-height: 30px;
      border-top: 1px solid rgba(172,148,179,.49);

      .x-caption {
        display: inline-block;
        max-height: 30px;
        margin: 5px 0px;
        text-align: center;
        color: $axis-color;
      }
    }

    .marks {
      display: flex;
      flex-direction: row;
      height: 200px;
      border-bottom: 1px solid $main-color;

      .ruler-row {
        display: flex;
        flex-direction: column-reverse;

        .mark {
          position: relative;
          border-top: 1px solid rgba(249,250,249, 0.9);
          border-left: 1px solid rgba(249,250,249, 0.9);
          box-sizing: border-box;
          flex: 0 0 auto;

          &:hover {
            cursor: pointer;

            .tooltiptext {
              visibility: visible;
            }
          }

          &.white {
            background: white;
          }

          .line {
            position: relative;
            z-index: 99;
            box-sizing: border-box;
            transform-origin: left center;

            &:hover + .tooltiptext {
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}

.tooltiptext {
  position: absolute;
  z-index: 9999999;
  visibility: hidden;
  width: 130px;
  left: $box-width;
  color: #ffffff;
  padding: 5px 5px;
  font-family: $font;

  div {
    word-wrap: break-word;
    text-align: center;

    &.date {
      margin: 10px 0 5px;
      font-weight: bold;
    }

    &.value {
      margin: 5px 0 5px;
      font-size: 18px;
      font-weight: bold;
    }
  }
}
