@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

$axis-color: #635e5e;
$box-width: 20px;
$font: 'PT Sans Narrow', sans-serif;

.ruler-container {
  position: relative;

  .y-axis {
    display: inline-block;
    padding: 0 10px;
    color: $axis-color;
    font-family: $font;

    .y-caption {
      height: $box-width;
      float: right;
      clear: both;
    }
  }

  .x-axis {
    padding-left: 35px;
    font-family: $font;

    .x-caption {
      display: inline-block;
      margin: 5px 30px;
      color: $axis-color;
    }
  }

  .marks {
    display: inline-block;

    .ruler-row {
      display: inline-block;

      .mark {
        position: relative;
        border-top: 1px solid rgba(249,250,249, 0.9);
        border-left: 1px solid rgba(249,250,249, 0.9);
        box-sizing: border-box;

        &:hover {
          cursor: pointer;

          .tooltiptext {
            visibility: visible;
          }
        }

        .line {
          position: relative;
          z-index: 99;
          box-sizing: border-box;
          transform-origin: left center;

          &:hover + .tooltiptext {
            visibility: hidden;
          }
        }

        .tooltiptext {
          position: absolute;
          z-index: 999;
          visibility: hidden;
          width: 120px;
          left: $box-width;
          border-radius: 10px;
          border: 1px solid white;
          color: #fff;
          padding: 5px 5px;
          font-family: $font;

          div {
            word-wrap: break-word;
            text-align: center;

            &.date {
              margin: 10px 0 5px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

@keyframes blink {
  0% {
    background: #9C27B0;
  }
  50% {
    background: #E1BEE7;
  }
}

@define-mixin theme $theme, $mark, $empty, $painted, $line {
  .$(theme) {
    .ruler-row:hover .mark {
      animation: blink 0.5s infinite;
    }
    .mark {
      background: $mark;
    }
    .empty {
      background: $empty;
    }
    .painted {
      background: $painted;
    } 
    .line {
      border: 1px solid $line;
    }
    .tooltiptext {
      background-color: $line;
    }
  }
}

@mixin theme default, rgba(255,90,0,1), #f6f0c7, rgba(255,90,0,0.5), #9C27B0;
@mixin theme purple, #448AFF, #E1BEE7, #BDBDBD, #9C27B0;
@mixin theme grey, #9E9E9E, #FFFFFF, #CFD8DC, #455A64;